---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div id="myplot"></div>
</Layout>
<script>
    
import penguins from "../assets/penguins.json";
import * as Plot from "@observablehq/plot";

const plot = Plot.rectY(penguins, Plot.binX({y: "count"}, {x: "culmen_length_mm"})).plot();
const div = document.querySelector("#myplot");
div!.append(plot);

</script>