<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/simple">simple</a></li>
            <li><a href="/simplepenguin">penguins</a></li>
            <li><a href="/simplepenguinfiltre">filtre</a></li>
            <li><a href="/simplepenguinfiltremultiple">multiple</a></li>
        </ul>
    </nav>
</header>