<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/simple">simple</a></li>
            <li><a href="/simplepenguin">penguins</a></li>
            <li><a href="/simplepenguinfiltre">filtre</a></li>
            <li><a href="/simplepenguinfiltremultiple">multiple</a></li>
        </ul>
        <a href="/pizza">Pizza</a>
    </nav>
</header>

<style>
    header {
        background-color: #333;
        padding: 1rem;
    }
    
    nav ul {
        display: flex;
        gap: 2rem;
    }
    
    nav a {
        color: white;
        padding: 0.5rem 1rem;
    }

</style>